---
import Layout from '../layouts/Layout.astro'
export const prerender = false
---

<Layout>
  <header>
    <h1>Axtro</h1>
    <nav>
      <ul>
        <li>
          <a href="/random">
            random
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>HTML Fragment</h2>
      <p hx-get="/html-fragment">
        HTML page partial. It includes <code>&lt;!DOCTYPE html&gt;</code>, Astro try to fill in the blanks.
      </p>
    </section>
    <a href="/random">random</a>
    <section>
      <h2>Fragment</h2>
      <p hx-get="/fragment">
        Astro page partial. It doesn't include <code>&lt;!DOCTYPE html&gt;</code>
      </p>
    </section>
    <div hx-get="/pokemon/1" hx-trigger="load"></div>
    <div hx-get="/pokemon" hx-trigger="load, deletePokemon from:body"></div>
  </main>
</Layout>
