---
import Layout from '../layouts/Layout.astro'
export const prerender = false
---

<Layout>
  <header>
    <h1>Axtro</h1>
    <nav>
      <ul>
        <li>
          <a href="/random">
            random
          </a>
        </li>
        <li>
          <a href="/pokemon">
            pokemon
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="p-8">
    <section>
      <h2>HTML Fragment</h2>
      <p hx-get="/html-fragment">
        HTML page partial. It includes <code>&lt;!DOCTYPE html&gt;</code>, Astro try to fill in the blanks.
      </p>
    </section>
    <section>
      <h2>Fragment</h2>
      <p hx-get="/fragment">
        Astro page partial. It doesn't include <code>&lt;!DOCTYPE html&gt;</code>
      </p>
    </section>
  </main hx-target="outerHTML">
</Layout>
