---
import Layout from '../layouts/Layout.astro'
export const prerender = false
---

<Layout>
  <header>
    <h1>Axtro</h1>
    <nav>
      <ul>
        <li>
          <a href="/random">
            random
          </a>
          <a href="/">
            home
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="p-8">
    <section hx-get="/hx/pokemon" hx-trigger="load, deletePokemon from:body" hx-swap="outerHTML"></section>
  </main>
</Layout>
